body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left{
  float: left;
  display: inline-block;
  width: 45%;
}

.right{
  float: right;
  width: 45%;
}

img.tile-image{
  width: 300px;
  height: 200px;
  float: left;
  margin: 0px 50px 0px 0px;
}

span{
  color: rgb(25, 25, 112);
}
p{
  display: block;
}

@media (max-width : 700px){
  .logo{
    width: 100px;
  }
  h1{
    font-size: 3rem;
  }
  img.tile-image{
    width: 100%;
    clear: left;
    display: block;
  }
  .left{
    clear: left;
    display: block;
    width: 100%;
  }
  .right{
    clear: right;
    display: block;
    width: 100%;
  }
}