h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin : 0;
}

p{
    color: white;
    font-size: 0.75em;
}
body{
    background-color: black;
}

.poster{
    margin-top: 50%;
    margin-bottom: 50%;
    text-align: center;
    
}

img{
    height: 200px;
    border: 2px solid white;
}